---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Lato, Hind, "Open Sans", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #3337de;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;

$medium: 40.063em; // based on medium size from Foundation

// Custom CSS

.center { 
    text-align: center; 
}

body { 
    background-image: url('../assets/background2.jpg') !important;
    background-size: auto 100% !important;
    background-repeat: no-repeat;
    background-position: center top !important;
    font-family: $base-font-family !important;
}

.wrapper {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

img.logo {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 80%;
}

img.shadowed {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.7));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.home h1 {
    font-size: 1.2rem;
    font-weight: 100;
    color: #fff;
    margin-bottom: 30px;
    text-shadow: 0px 0px 30px #000, 0px 0px 80px #000;
    font-family: $base-font-family !important;
    
}

h1.construction {
    font-size: 3rem !important;
    margin-top: 30%;
}

//----------------------------
// Form
//----------------------------


#mc_embed_signup label {
    font-size: 1.4rem;
    font-weight: 100;
    color: #ffffff;
    margin-bottom: 30px;
}

#mc_embed_signup input.email,
#mc_embed_signup input.button {
    width: 100%;
    border: none !important;
    padding: 15px !important;
    font-size: 1.2rem !important;
    font-weight: 300;
    font-family: $base-font-family !important;
}


#mc_embed_signup input.email {
    margin-bottom: 0px !important;
    height: inherit !important;
    
    &:focus {
        outline: none;
        border: none !important;
    }
}


input#mc-embedded-subscribe {    
    color: #fff;
    background: #5656F5;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
    font-size: 1.2rem !important;
    font-weight: 300;
    width: 100% !important;
    &:focus {
        outline: none;
    }
    &:hover {
        background: #4545c4;
    }
}


div.form {
    padding-left: 0px;
    padding-right: 0px;
}


/*
.submit-wrapper, .email-wrapper {
    display: inline;
    position: relative;
}
*/

/*
.thank-you-text::-webkit-input-placeholder {
    color: $brand-color;
}
*/




// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@media screen and (min-width: $medium) {
    body {
        background-size: cover !important;
        background-position: center 20% !important;
    }
    .wrapper {
        padding-right: 15px;
        padding-left: 15px;
    }
    img.logo {
        margin-top: 80px;
        margin-bottom: 50px;
    }
    .home h1 {
        font-size: 1.4rem;
    }
    
    #mc_embed_signup input.email {
        width: 75%;
        float: left;
    }
    
    #mc_embed_signup input.button {
        width: 25% !important;
    }
    /*
    input.email {
        width: 75% !important;
        padding: 20px !important;
        float: left;
        font-size: 1.5rem !important;
    }
    input.submit {    
        width: 25% !important;
        padding: 20px !important;
        font-size: 1.5rem !important;
    }
    */
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
